* {
  font-family: 'Quicksand', sans-serif;
  color: white;
  line-height: 1.8;
  margin: 0px;
  padding: 0px;
  box-sizing: 0px; }

/*Pagina Info*/
.info__body__fondo {
  background-image: url(../imgs/Daft_Punk_Tron.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  @media (max-width: 420px) {
    .info__body__fondo {
      background-image: url(../imgs/img-renderizadas/Daft_Punk_Tron400.jpg); } }
  .info__body__fondo .body__contenedor {
    display: grid;
    grid-template-areas: "header"
 "contenido"
 "footer";
    grid-template-rows: 20% auto 20%;
    justify-content: center; }
  .info__body__fondo nav {
    grid-area: header; }
  .info__body__fondo .main__parrafo {
    grid-area: contenido;
    margin: 60px auto;
    font-size: 17px;
    text-align: start;
    width: 95%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.61), black);
    border-radius: 15px;
    padding: 10px; }
  .info__body__fondo .bloque__footer {
    grid-area: footer; }

/*Pagina contacto*/
.contacto__body__fondo {
  background-image: url(../imgs/daft-punk.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  @media (max-width: 420px) {
    .contacto__body__fondo {
      background-image: url(../imgs/img-renderizadas/daft-punk400.jpg); } }
  .contacto__body__fondo .contenedor__contacto {
    display: grid;
    grid-template-areas: "header"
 "contenido"
 "footer";
    grid-template-rows: 20% auto 20%;
    justify-content: center;
    height: 100vh; }
  .contacto__body__fondo .main__formulario {
    width: 40%;
    margin: 50px auto;
    background-image: linear-gradient(to top, rgba(0, 255, 255, 0.466), black);
    border-radius: 15px;
    border: solid 2px blanchedalmond;
    text-align: center;
    grid-area: contenido; }
    @media (max-width: 420px) {
      .contacto__body__fondo .main__formulario {
        width: 90%; } }
    .contacto__body__fondo .main__formulario .letrasNegras {
      color: black; }
  .contacto__body__fondo nav {
    grid-area: header; }
  .contacto__body__fondo .bloque__footer {
    grid-area: footer; }

/*Pagina musica*/
.musica__body__fondo {
  background-image: url(../imgs/daft.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  @media (max-width: 420px) {
    .musica__body__fondo {
      background-image: url(../imgs/img-renderizadas/daft400.jpg); } }
  .musica__body__fondo .contenedor__musica {
    display: grid;
    grid-template-areas: "header"
 "contenido"
 "footer";
    grid-template-rows: 20% auto 20%;
    justify-content: center; }
  .musica__body__fondo nav {
    grid-area: header; }
  .musica__body__fondo .musica__h2__titulo {
    grid-area: contenido;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); }
  .musica__body__fondo .section__musica {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    grid-area: contenido;
    text-align: center; }
  .musica__body__fondo .cd1, .musica__body__fondo .cd2 {
    border-radius: 15px;
    width: 400px;
    border: solid 2px cyan; }
    @media (max-width: 420px) {
      .musica__body__fondo .cd1, .musica__body__fondo .cd2 {
        width: 100%; } }
  .musica__body__fondo .cd2 {
    border: solid 2px magenta; }
  .musica__body__fondo .bloque__footer {
    grid-area: footer; }

/*INDEX*/
.index__body__fondo {
  background-image: url(../imgs/daftluces.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  @media (max-width: 420px) {
    .index__body__fondo {
      background-image: url(../imgs/img-renderizadas/daftluces400.jpg); } }
  .index__body__fondo .div__titulo__articleP {
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .index__body__fondo .div__titulo__articleP .article__p {
      background-color: rgba(31, 27, 27, 0.815);
      width: 400px;
      padding: 10px;
      border-radius: 15px;
      border: solid 2px cyan;
      font-size: 20px; }
  .index__body__fondo #titulo {
    font-family: 'Island Moments', cursive;
    font-size: 200px;
    display: block;
    margin: 0px;
    animation-name: animacionTitulo;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in; }
    @media (max-width: 420px) {
      .index__body__fondo #titulo {
        font-size: 150px;
        display: inline-block; } }

li {
  font-size: 25px;
  display: inline-block;
  background-image: linear-gradient(to top, grey, black);
  padding: 0px 15px;
  margin: 15px 30px 0px 30px;
  border-radius: 15px;
  border: solid 2px cyan; }
  @media (max-width: 420px) {
    li {
      font-size: 13px;
      margin: 2px 5px;
      padding: 5px; } }
  li a {
    color: white;
    text-decoration: none; }
    li a:hover {
      background-color: magenta; }

@keyframes animacionTitulo {
  0% {
    opacity: 0; }
  50% {
    opacity: 0,5; }
  100% {
    opacity: 1; } }

.bloque__footer {
  grid-area: footer;
  padding-top: 20px; }
  .bloque__footer .bloque__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }

footer {
  text-align: center; }
  footer p {
    margin: 50px; }
  footer a {
    border: solid 2px cyan; }

/*Pagina multimedia*/
.multi__body__fondo {
  background-image: url(../imgs/daft-punk-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  @media (max-width: 420px) {
    .multi__body__fondo {
      background-image: url(../imgs/img-renderizadas/daft-punk-1-400.jpg); } }
  .multi__body__fondo .tituloMultimedia {
    display: flex;
    margin: 40px 20px;
    animation-name: animacionTitulo;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in; }
  .multi__body__fondo #carouselExampleIndicators {
    width: 95%;
    margin: auto; }
  .multi__body__fondo .main__div__parrafo {
    background-image: linear-gradient(to top, rgba(0, 255, 255, 0.384), black);
    width: 95%;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    border: solid 2px cyan; }
