@mixin fixed-center-cover {
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
}

@mixin dur-del-it-timing {
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
}

$estilos:(
    border-radius: 15px,
    border: solid 2px cyan,
    margin: auto,
);

*{font-family: 'Quicksand', sans-serif;
    color: white;
    line-height: 1.8;
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    }
    
    /*Pagina Info*/
    .info__body__fondo{
        background-image: url(../imgs/Daft_Punk_Tron.jpg);
                @media (max-width: 420px) {
                        background-image: url(../imgs/img-renderizadas/Daft_Punk_Tron400.jpg);
                }
        @include fixed-center-cover;
        .body__contenedor{
            display: grid;
            grid-template-areas: "header"
                             "contenido"
                             "footer";
            grid-template-rows: 20% auto 20%;
            justify-content: center; 
    }
        nav{
            grid-area: header;
    }
        .main__parrafo{
            grid-area: contenido;
             margin:60px auto;
            font-size: 17px;
            text-align: start;
            width: 95%;
            background-image: linear-gradient(to top,rgba(0, 0, 0, 0.61),black);
            border-radius: 15px;
            padding: 10px;
    }
        .bloque__footer{
            grid-area: footer;
    }
}   
    /*Pagina contacto*/
    .contacto__body__fondo{
        background-image: url(../imgs/daft-punk.png);
                    @media (max-width: 420px) {
                        background-image: url(../imgs/img-renderizadas/daft-punk400.jpg);
                    }
        @include fixed-center-cover; 
            .contenedor__contacto{
                display: grid;
                grid-template-areas: "header"
                                    "contenido"
                                    "footer";
                grid-template-rows: 20% auto 20%;
                justify-content: center;                     
                height:100vh;
    }
            .main__formulario{
                width: 40%;
                margin: 50px auto;
                background-image: linear-gradient(to top, rgba(0, 255, 255, 0.466), black);
                border-radius: map-get($estilos, border-radius);
                border: solid 2px blanchedalmond;
                text-align: center;
                grid-area: contenido;
                    @media (max-width: 420px) {
                            width: 90%;
                            }
            .letrasNegras{
                color: black;
}
    }
            nav {
                grid-area: header;
    }
            .bloque__footer{
                grid-area: footer;
    }
}
    /*Pagina musica*/
    .musica__body__fondo{
        background-image: url(../imgs/daft.jpg);
                @media (max-width: 420px) {
                    background-image: url(../imgs/img-renderizadas/daft400.jpg);
                }
        @include fixed-center-cover;
    .contenedor__musica{
        display: grid;
        grid-template-areas: "header"
                             "contenido"
                             "footer";
        grid-template-rows: 20% auto 20%;
        justify-content: center;                     
    }
    nav{
        grid-area: header;
    }
    .musica__h2__titulo{
            grid-area: contenido;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
    }
    .section__musica{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        grid-area: contenido;
        text-align: center;
    }

    .cd1{
        border-radius: 15px;
        width: 400px;
        border: map-get($estilos, border);
        @media (max-width: 420px) {
            width: 100%;
        }
    }
    .cd2{
        @extend .cd1;
        border: solid 2px magenta;
    }
    .bloque__footer{
        grid-area: footer;
    }
    }

    /*INDEX*/
    .index__body__fondo{
        background-image: url(../imgs/daftluces.jpg);
        @include fixed-center-cover;
                @media (max-width: 420px) {
                    background-image: url(../imgs/img-renderizadas/daftluces400.jpg);
                }
        .div__titulo__articleP{
            grid-area: contenido;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
                .article__p{
                    background-color:rgba(31, 27, 27, 0.815) ;
                    width: 400px;
                    padding: 10px;
                    border-radius: map-get($estilos, border-radius);
                    border: map-get($estilos, border);
                    font-size: 20px;
        }
    }

        #titulo { 
            font-family: 'Island Moments', cursive;
            font-size: 200px;
            display: block;
            margin: 0px;
            animation-name: animacionTitulo ;
            @include dur-del-it-timing;
            @media (max-width: 420px) {
                    font-size: 150px;
                    display: inline-block;
                
                }
       } 
 }        
    
    li{
        font-size: 25px;
        display: inline-block;
        background-image: linear-gradient(to top, grey, black);
        padding: 0px 15px;
        margin: 15px 30px 0px 30px;
        border-radius: map-get($estilos, border-radius);
        border: map-get($estilos, border);
        @media (max-width: 420px) {
                font-size: 13px;
                margin: 2px 5px;
                padding: 5px;
        }
        a{
            color: white; 
            text-decoration: none;
        &:hover{
            background-color: magenta;
    }
}
}

    @keyframes animacionTitulo {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0,5;
        }
        100%{
            opacity: 1
        }
    }
    
    .bloque__footer{
        grid-area: footer;    
        padding-top: 20px;
        .bloque__links{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
    }
    }
    footer{
        text-align: center;
    
    
        p{
            margin: 50px;
    }

              a {border: solid 2px cyan;}
}   
    /*Pagina multimedia*/
    .multi__body__fondo{
        background-image: url(../imgs/daft-punk-1.jpg);
                    @media (max-width: 420px) {
                    background-image: url(../imgs/img-renderizadas/daft-punk-1-400.jpg);
                    }
        @include fixed-center-cover;
        .tituloMultimedia{
            display: flex;
            margin: 40px 20px;
            animation-name: animacionTitulo ;
            @include dur-del-it-timing;
    }  
        #carouselExampleIndicators{
            width: 95%;
            margin:auto;
    }
        .main__div__parrafo{
            background-image: linear-gradient(to top,rgba(0, 255, 255, 0.384),black);
            width: 95% ;
            margin: map-get($estilos , margin);
            border-radius: map-get($estilos, border-radius);
            padding: 10px;
            font-size: 20px;
            border: map-get($estilos, border);
    }
    }
    
    