<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multimedia</title>
    <link rel="shortcut icon" href="../imgs/disco.png">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Island+Moments&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="multi__body__fondo">
    <header>
        <div class="row-md col-12">
            <nav>
                <div class="container-fluid justify-cont d-flex justify-content-around mb-5">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./info.html">Info</a></li>
                    <li><a href="./multimedia.html">Multimedia</a></li>
                    <li><a href="./musica.html">Música</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <h1 class="tituloMultimedia">Imágenes y videos con historia</h1>
        <section class="section__multimedia">
            <div class="imagen1">
                <img src="../imgs/guy-manuel-y-thomas.jpg" alt="comienzos">
            </div>
            <div class="p1">
                <p>Fue en 1987 cuando dos jóvenes parisienses, Thomas Bangalter y Guy-Manuel de Homem-Christo, se
                    conocieron. Poco tiempo después, su pasión por hacer música los llevó a formar Darlin’ junto a su
                    compañero de escuela, Laurent Brancowitz.
                    El proyecto tuvo una corta vida, pero fue una mala reseña de uno de sus conciertos la que les daría
                    al
                    par de músicos su
                    nuevo nombre para su siguiente etapa: Daft Punk.</p>
            </div>
            <div class="img2">
                <img src="../imgs/2001usaroncascos.jpg" alt="sus integrantes">
            </div>
            <div class="txt2">
                <p>Durante la segunda mitad de los 90s su popularidad fue en aumento gracias a sencillos como <a
                        href="https://www.youtube.com/watch?v=PwILkY9gRrc&ab_channel=DaftPunk" target="_blank">“Da
                        Funk”</a>.

                    En 1997 lanzaron su primera placa discográfica, <a
                        href="https://www.youtube.com/watch?v=yuoghR-5-Xs&list=PLSdoVPM5Wnne3Q2AxosemsThywhraJ0su&ab_channel=DaftPunk"
                        target="_blank">Homework</a>, con Virgin Records y crearon éxitos como “Around The World” y
                    “Alive”.
                    Tal fue su impacto que incluso contaron con cineastas de renombre como Spike Jonze, Roman Coppola y
                    Michel Gondry detrás de sus videoclips.</p>
            </div>
            <div class="txt3">
                <p>Para inicios de 2013, la noticia de que Daft Punk había firmado con Sony Music agitó a sus seguidores
                    alrededor del planeta.
                    El 21 de mayo de 2013 vio la luz uno de los álbumes más importantes de la historia: Random Access
                    Memories. Este disco marcó la primera vez en la que el dúo presentaba
                    colaboraciones y su lista de invitados dejó atónito al mundo entero: Pharrell Williams, Nile Rodgers
                    de
                    Chic, Giorgio Moroder,
                    Todd Edwards, Julian Casablancas (The Strokes) y Panda Bear (Animal Collective). Por primera vez
                    lograron conseguir el primer puesto
                    en las listas gracias a “Get Lucky”, canción que incluso les otorgó el Grammy a Grabación
                    del Año y Mejor Performance de un Grupo Pop. Random Access Memories recibió el galardón a Mejor
                    Álbum
                    del Año y continuaron su
                    conquista con los sencillos “Lose Yourself to Dance” y la magnífica <a
                        href="https://www.youtube.com/watch?v=a5uQMwRMHcs&ab_channel=DaftPunkVEVO"
                        target="_blank">“Instant
                        Crush”</a>.

                    En 2016 tuvimos una grata sorpresa gracias a <a
                        href="https://www.youtube.com/watch?v=qFLhGq0060w&ab_channel=TheWeekndVEVO" target="_blank">The
                        Weeknd</a>. Tras rumores y pistas en redes, estrenó el tema que le
                    daba título a su siguiente disco, <a
                        href="https://www.youtube.com/watch?v=34Na4j8AVgA&ab_channel=TheWeekndVEVO"
                        target="_blank"></a>“Starboy” en colaboración con Daft Punk. El tema dominó las listas globales
                    y le
                    dio al dúo su
                    primer #1 en Estados Unidos. Posteriormente, una segunda salió a la luz, “I Feel It Coming”, y ambos
                    hits serían interpretados
                    durante la ceremonia número 59 de los Grammy, última vez que nuestros robots pisarían un escenario.

                    Fue en 2017 cuando volverían a juntarse para producir el pegajoso sencillo de una banda francesa que
                    comenzaba su carrera,
                    “Overnight” de Parcels, la cual podría ser la última canción en la que los dos músicos colaboran.
                </p>
            </div>
            <div class="videoTrajes">
                <img src="../imgs/trajes.jpg" alt="trajes">
                <video src="../imgs/Daft Punk  Epilogue.mp4" width="400px" controls></video>
            </div>
            <div class="txt4">
                <p>El 22 de Febrero 2021 se separan luego de 28 años trabajando con artistas y bandas de renombre. Lo
                    hicieron a través de un video que publicaron ese mismo día en redes sociales.</p>
            </div>
        </section>
    </main><br><br>
    <footer class="bloque__footer">
        <div class="bloque__links">
            <a class="footericonos" href="https://es-la.facebook.com/daftpunk" target="_blanck"><img
                    src="../imgs/facebook.png" width="30px"></a>
            <a class="footericonos" href="https://twitter.com/daftpunk_music" target="_blanck"><img src="../imgs/tw.png"
                    width="30px"></a>
            <a class="footericonos" href="https://www.instagram.com/daftpunk/?hl=es" target="_blanck"><img
                    src="../imgs/ig.png" width=30px></a>
        </div>
        <p>Todos los derechos reservados.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
</body>

</html>