<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="daft punk, musica, banda" content="Algunas fotos de los iniciones de Daft punk y breve reseña.">
    <title>Multimedia</title>
    <link rel="shortcut icon" href="../imgs/disco.png">
    <link rel="stylesheet" href="../css/estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="multi__body__fondo">
    <header>
        <div class="row-md col-12">
            <nav>
                <div class="container-fluid justify-cont d-flex justify-content-around mb-5">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./info.html">Info</a></li>
                    <li><a href="./multimedia.html">Multimedia</a></li>
                    <li><a href="./musica.html">Música</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </div>
            </nav>
        </div>
    </header>
    <main class="container-fluid multimedia__main">
      <div class="tituloMultimedia">
        <h1>Imágenes con historia</h1>
      </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
               <div class="carousel-item active">
               <img src="" srcset="../imgs/img-renderizadas/2001usaroncascos400.jpg 420w, ../imgs/2001usaroncascos.jpg 800w" class="d-block w-100" alt="Integrantes juventud">
              </div>
              <div class="carousel-item">
                <img  src="" srcset="../imgs/img-renderizadas/guy-manuel-y-thomas400.jpg 420w, ../imgs/guy-manuel-y-thomas.jpg 800w" class="d-block w-100" alt="Integrantes en sus comienzos">
              </div>
              <div class="carousel-item">
                <img  src="" srcset="../imgs/img-renderizadas/trajes400.jpg 420w, ../imgs/trajes.jpg 800w" class="d-block w-100" alt="Trajes en entrega de premios">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="main__div__parrafo row col-12">
              <p>
                Fue en 1987 cuando dos jóvenes parisinos, Thomas Bangalter y Guy-Manuel de Homem-Christo se conocieron. Poco tiempo después, su pasión por hacer música los llevó a formar Darlin. El proyecto tuvo una corta vida, una mala reseña fué la que les daría su nuevo nombre: Daft Punk.
                Durante la segunda mitad de los 90s su popularidad fue en aumento. En 1997 lanzaron su primera placa discográfica, <a href="https://www.youtube.com/watch?v=Y_9p_dT3JpM&ab_channel=arcti1">Homework</a>.
              </p>
            </div>
            <div class="multimedia__main__videos">
              <div>
                <iframe class="multimedia__main-videos--tamaño" src="https://www.youtube.com/embed/UtKqAj1tL2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div>
                <iframe class="multimedia__main-videos--tamaño" src="https://www.youtube.com/embed/pNny1jUTXLY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>             
               </div>
            </div>
    </main>
    <div class="container">
    <footer class="bloque__footer row col-12">
        <div class="bloque__links">
            <a class="footericonos" href="https://es-la.facebook.com/daftpunk" target="_blanck"><img
                    src="../imgs/facebook.png" width="30px" alt="icono facebook"></a>
            <a class="footericonos" href="https://twitter.com/daftpunk_music" target="_blanck"><img src="../imgs/tw.png"
                    width="30px" alt="icono twitter"></a>
            <a class="footericonos" href="https://www.instagram.com/daftpunk/?hl=es" target="_blanck"><img
                    src="../imgs/ig.png" width=30px alt="icono instagram"></a>
        </div>
    </footer>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
</body>

</html>