<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="daft punk, musica, banda" content="Selección de los mejores temas de Daft punk.">
    <title>Música</title>
    <link rel="shortcut icon" href="../imgs/disco.png">
    <link rel="stylesheet" href="../css/estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="musica__body__fondo" class="contenedor__musica">
    <header>
        <div class="row-md col-12">
            <nav>
                <div class="container-fluid justify-cont d-flex justify-content-around mb-5">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./info.html">Info</a></li>
                    <li><a href="./multimedia.html">Multimedia</a></li>
                    <li><a href="./musica.html">Música</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </div>
            </nav>
        </div>
    </header>
    <div class="musica__h2__titulo">
    <h2>Álbumes, éxitos y sencillos de Daft punk.</h2>
</div>
    <section class="section__musica">
        <a href="https://open.spotify.com/playlist/2YCTLfu3cq4RzmOgZlweii?go=1&sp_cid=4c71460a4da6af80fd10e799459e2ecd&utm_source=embed_player_m&utm_medium=desktop&nd=1" target="_blanck"><figure><img  class="cd1 zoom" src="../imgs/best.jpg" alt="Portada disco" title="Portada CD/lista Grandes éxitos" srcset="../imgs/img-renderizadas/best400.jpg 420w"></figure></a>
        <a href="https://open.spotify.com/album/4m2880jivSbbyEGAKfITCa?go=1&sp_cid=4c71460a4da6af80fd10e799459e2ecd&utm_source=embed_player_m&utm_medium=desktop&nd=1" target="_blanck"><figure><img class="cd2 zoom"  src="../imgs/random.jpg" alt="Portada disco" title="Portada cuarto y último disco de estudio" srcset="../imgs/img-renderizadas/random400.jpg 420w"></figure>
        </a>
        <a href="https://open.spotify.com/album/382ObEPsp2rxGrnsizN5TX" target="_blanck"><figure><img  class="cd1 zoom" src="../imgs/tronlegacy.webp" alt="Portada disco" title="Portada CD/Tron Legacy" srcset="../imgs/tronlegacy.webp 420w"></figure></a>
        <a href="https://open.spotify.com/album/7u6zL7kqpgLPISZYXNTgYk" target="_blanck"><figure><img  class="cd2 zoom" src="../imgs/alive.webp" alt="Portada disco" title="Portada CD/Alive" srcset="../imgs/../imgs/alive.webp 420w"></figure></a>
        <a href="https://open.spotify.com/album/11cpAynoDMZFD0B2xtw6OQ" target="_blanck"><figure><img  class="cd1 zoom" src="../imgs/humanafterall.webp" alt="Portada disco" title="Portada CD/Human after all" srcset="../imgs/../imgs/humanafterall.webp 420w"></figure></a>
        <a href="https://open.spotify.com/album/1O5WUh9KsgHT2QaUCJeVPG" target="_blanck"><figure><img  class="cd2 zoom" src="../imgs/daftclub.webp" alt="Portada disco" title="Portada CD/Daft Club" srcset="../imgs/../imgs//daftclub.webp 420w"></figure></a>
        <a href="https://open.spotify.com/album/5uRdvUR7xCnHmUW8n64n9y" target="_blanck"><figure><img  class="cd1 zoom" src="../imgs/Homework.webp" alt="Portada disco" title="Portada CD/Homework" srcset="../imgs/../imgs/Homework.webp 420w"></figure></a>
        <a href="https://open.spotify.com/album/2noRn2Aes5aoNVsU6iWThc" target="_blanck"><figure><img  class="cd2 zoom" src="../imgs/Discovery.webp" alt="Portada disco" title="Portada CD/Discovery" srcset="../imgs/../imgs/Discovery.webp 420w"></figure></a>
        <a href="https://open.spotify.com/album/6JRaPcrT3cMBEmkgSqEPhI" target="_blanck"><figure><img  class="cd1 zoom" src="../imgs/homework25.jpg" alt="Portada disco" title="Portada CD/Homework 25 edition" srcset="../imgs/homework25.jpg 420w"></figure></a>
        <a href="https://open.spotify.com/album/2ePFIvZKMe8zefATp9ofFA" target="_blanck"><figure><img  class="cd2 zoom" src="../imgs/Get_Lucky.webp" alt="Portada disco" title="Sencillo/Get Lucky" srcset="../imgs/../imgs/Get_Lucky.webp 420w"></figure></a>
        <a href="https://open.spotify.com/album/2CvZLTWcP7LMVV4GkE67xH" target="_blanck"><figure><img  class="cd1 zoom" src="../imgs/something.jpg" alt="Portada disco" title="Sencillo/Something about us" srcset="../imgs/img-renderizadas/somethingrender.jpg 420w"></figure></a>
        <a href="https://open.spotify.com/album/3UvcQMj1oRf9D3bPz4P1Zf" target="_blanck"><figure><img  class="cd2 zoom" src="../imgs/digitallove.jpg" alt="Portada disco" title="Sencillo/Digital love" srcset="../imgs/img-renderizadas/digitalloverender.jpg 420w"></figure></a>
        <a href="https://open.spotify.com/album/6a34lYgmrwXe9jChS9ARZd" target="_blanck"><figure><img  class="cd1 zoom" src="" alt="Portada disco" title="Sencillo/Aerodinamic" srcset="../imgs/DaftPunk_Aerodynamic.jpg, ../imgs/img-renderizadas/DaftPunk_Aerodynamicrender.jpg 420w"></figure></a>
        <a href="https://open.spotify.com/album/4iPei0ERbLxTwUd888Hv5G" target="_blanck"><figure><img  class="cd2 zoom" src="" alt="Portada disco" title="Sencillo/Dafunk" srcset="../imgs/dafunk.jpg, ../imgs/img-renderizadas/daftpunkrender.jpg 420w"></figure></a>
        <a href="https://open.spotify.com/album/0bHuuhpKn42ktYbyTIeumE" target="_blanck"><figure><img  class="cd1 zoom" src="" alt="Portada disco" title="Sencillo/One more time" srcset="../imgs/One_More_Time.webp, ../imgs/One_More_Time.webp 420w"></figure></a>
    </section>
    <div class="container">
    <footer class="bloque__footer">
        <div class="bloque__links">
            <a class="footericonos" href="https://es-la.facebook.com/daftpunk" target="_blanck"><img
                    src="../imgs/facebook.png" width="30px" alt="icono facebook"></a>
            <a class="footericonos" href="https://twitter.com/daftpunk_music" target="_blanck"><img src="../imgs/tw.png"
                    width="30px" alt="icono twitter"></a>
            <a class="footericonos" href="https://www.instagram.com/daftpunk/?hl=es" target="_blanck"><img
                    src="../imgs/ig.png" width=30px alt="icono instagram"></a>
        </div> 
    </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>