<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Música</title>
    <link rel="shortcut icon" href="../imgs/disco.png">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Island+Moments&display=swap"
        rel="stylesheet">
</head>

<body class="musica__body__fondo" class="contenedor__musica">
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="info.html">Info</a></li>
                <li><a href="multimedia.html">Multimedia</a></li>
                <li><a href="musica.html">Música</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="section__spotify">
        <iframe src="https://open.spotify.com/embed/playlist/2YCTLfu3cq4RzmOgZlweii?utm_source=generator" width="60%"
            height="380" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/4m2880jivSbbyEGAKfITCa?utm_source=generator&theme=0" width="60%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </section>
    <footer class="bloque__footer">
        <div class="bloque__links">
            <a class="footericonos" href="https://es-la.facebook.com/daftpunk" target="_blanck"><img
                    src="../imgs/facebook.png" width="30px"></a>
            <a class="footericonos" href="https://twitter.com/daftpunk_music" target="_blanck"><img src="../imgs/tw.png"
                    width="30px"></a>
            <a class="footericonos" href="https://www.instagram.com/daftpunk/?hl=es" target="_blanck"><img
                    src="../imgs/ig.png" width=30px></a>
        </div>
        <p>Todos los derechos reservados.</p>
    </footer>
</body>

</html>